body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #6fb1fc, #4364f7, #0052cc);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weather-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: rgb(69, 118, 253);
}

.weather-container input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.weather-container button {
  padding: 10px 20px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weather-container button:hover {
  background: #e68900;
}

.weather-info {
  margin-top: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  /* background-color: ; */
  background: rgba(255, 255, 255, 0.08); 
  /* semi-transparent background color. 255,255,255 is white ,1 fully white 0 transprant*/
  margin-top: 10px;
  margin-left: 17px;
}

#weatherIcon {
  width: 130px;
  height: 130px;
  margin-top: -17px;
}

#condition, #humidity,#speed {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}
#temp{
  font-size: 40px;
  font-weight: 700;
  margin-top: -10px;
}
#city{
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
}
#condition{
  margin-top: 20px;
}
#update{
  margin-left: 170px;
  font-size: 10px;
  font-weight: 300;
  margin-top: 20px;
  color: rgb(224, 220, 235);
}
#darkcon{
  margin-left: 200px;
  margin-bottom: 10px;
  font-weight: 600;
}
.darkmode{
  background: linear-gradient(90deg, #1f1f1f 0%, #0e244f);
}
.darkmode .weather-container{
  background-color: #323950;
}
